.flex-container {
    border: 2px solid black;
    padding: 15px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.flex-container>div{
    border: 2px solid rgb(91, 93, 214);
    margin: 15px;
    padding: 20px;
    background-color: aqua;
}